body {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color:  rgb(19, 74, 121);
    color: #ffffff;
    
}

.main_nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: rgb(19, 74, 121);

}

.main_nav li {
    float:left;
}
.main_nav li a {
    display:block;
    color:#ffffff;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}
.main_nav li a:hover:not(.active) {
    background-color: rgb(25, 97, 159);
    color:#fff;
}
.main_nav li .active {
    background-color: rgb(25, 97, 159);
    color:#fff;
}

header h1 {
    text-align: center;
}

footer {
    background-color: rgb(19, 74, 121);
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;

}

footer p {
    text-align: center;
}