@media (min-width:/*1024*/920px) {    
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    footer p {
        font-size: 18px;
        margin: 2px;
    }

    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .hero-image img {
        max-height:400px;
    }

    .hero-text {
        font-size: 3vh;
    }
  }