/* medium view */
@media screen and (min-width: 600px) {
    body {
        margin:auto;
    }
    #menu {
        display:none;
    }
    .navigation {
        display:flex;
        flex-direction: row;
        font-size: 25px;
    }
  
    .navigation li {
        display: block;
        flex: 1 1 100%;
        color:#000;
    }
    .navigation a {
        text-align: center;
    }

    .img {
        width: 100%; 
    }
    .content {
        grid-template-columns: 1fr 1fr;
    }

    #table-container {
        max-width:fit-content;
        border: thin solid #000;
        box-shadow: 0 5px 8px 1px #000;
    }

    .social img {
        width: 2em;
    }
}
