html, body {
    height:100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
	font-family: "EB Garamond", Arial, serif;
}

header {
    margin:auto;
    background-color: #5c5656;
    color: #ffe6a7;
}
header h1 {
    padding-top:15px;
    margin:0px;
    font-family:"Open Sans", sans-serif; 
}
  /* TOP Navigation */
  
nav {
    background-color:#6f1d1b;
  }
  
  /* small view navigation */
#menu {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--text-color);
    position: absolute;
    top: 50px;
    right: 25px;
}
  
#menu::before {
    content: "☰";
}
  
.navigation {
    list-style:none;
    margin:0 auto;
    max-width:900px;
    background-color: #6f1d1b;
    color: var(--text-color);
}
.navigation li {
    display:none;
}
  
.navigation a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: #ffe6a7;
    transition:0.5s;
}
.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 700;
}
  
.show li {
    display: block;
}
#menu.open::before {
    content: "✖️";
}

  /* Default light theme */
  :root {
    --primary-color: #6f1d1b;
    --secondary-color: #99582a;
    --text-color: #000;
    --background-color: #fff;
    --heading-color: #000000;
    --footing-color: #5c5656;
    }
    
    /* Dark theme */
    [theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --text-color: #fff;
    --background-color: #161625;
    --heading-color: #818cab;
    }
    
    /* Adding css variable in our webpage */
    body {
    background-color: var(--background-color);
    color: var(--text-color);
    }
    
    a {
    color: var(--primary-color);
    }
    
    /* Slider styling */
    .theme-switch-container {
    display: flex;
    align-items: center;
    }
  
  .theme-slider {
    display: inline-block;
    height: 34px;
    position: absolute;
    top: 15px;
    right:15px;
    width: 60px;
    }
    
    .theme-slider input {
    display: none;
    }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /*-webkit-transition: .4s;*/
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    /*-webkit-transition: .4s;*/
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6f1d1b;
  }
  
  input:checked + .slider:before {
   /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);*/
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.hero-image {
    position:relative;
    height: 300px;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    text-align: center;
    font-size: 1.8vh;
	top: 50%; 
	left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.8vh;
    text-shadow: 2px 2px 5px black;
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
}

.hero-image button {
    font-size: 3vh;
    border-radius: 8px;
    padding: 10px;
    background-color:#6f1d1b;
    color:#fff;
}

  /* Main content of website */
  
main {
    max-width:720px;
    margin-left: auto;
    margin-right: auto;
    font-family:"Raleway", sans-serif; 
}

main h2 {
    font-family:"Open Sans", sans-serif; 
    text-align: center;
}

.banner {
    height: 100px;
    background-color: #FFD700;
    width: 100%;
    text-align: center;
    position:relative;
    top: 0;
    left: 0;
    /*margin-left: -42.5%;*/
    z-index: 1;
    color:#000;
}

.banner hr {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
}

.banner-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    left: 5px;
}

.banner-close::after {
    content: "✖"
}

.hidden-banner {
    visibility: hidden;
    transition: visibility .5s, opacity .5s linear;
    opacity: 0;
}

#spotlight h2 {
    color: var(--text-color);
}

#spotlight .bis-card p {
    color:#000;
}

.grid-container, #spotlight {
    display: grid;
    margin: 10px;
    grid-template-columns: auto;
    grid-gap:20px;
/*    justify-content: center;*/
}
#spotlight {
    max-width: 250px;
}
  .card {
    box-shadow: 0 5px 8px 1px #000000;
    margin-bottom: 15px;
    margin-top:10px;
    border-radius:5px;
    text-align:center;
}
  
.card h3 {
    text-align: center;
    color: #000;
    background-color: #c9cba3;
    padding: 10px;
    margin:auto;
    border-radius:5px 5px 0px 0px;
    font-family:"Open Sans", sans-serif; 
}
.card p {
    text-align: center;
    color: var(--text-color);
}
/*.bis-card-container {
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minimax(300px, 1fr));
    justify-content: center;
    padding: 10px;
}*/
.bis-card {
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 8px 1px #000000;
    perspective: 1000px;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 1rem;
    background-color: #6f1d1b;
    margin-bottom: 10px;
}
 .content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.bis-card:hover .content {
    transform: rotateY(0.5turn);
}
/* Front and back styles */
 .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

 .front {
    background-color:#ffe6a7;
}

 .back {
    background-color: #ffe6a7;
    transform: rotateY(180deg);
    text-align: center;display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    padding: 1rem;
}

/* Styling for logo image */
 .front img.logo {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

/* Styling for the back content */
 .back h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
 .back p {
    margin: 0.5rem 0;
}

.back a {
    color:#004643;
    text-decoration: none;
}

 .back a:hover {
    text-decoration: underline;
}

figcaption {
    color: var(--text-color);
}
.openSans {
    font-family:"Open Sans", sans-serif; 
}
.raleway {
    font-family:"Raleway", sans-serif; 
}

h3 {
    text-align: center;
}

/*CALENDAR*/

.calendar {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    background-color: var(--primary-color);
}

.calendar-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

.calendar-header button {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.calendar-weekdays, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays div {
    font-weight: bold;
    padding: 10px 0;
    background-color: #bb9457;
}

.calendar-dates .date {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fefae0;
}

.calendar-dates .date:hover {
    background: #fff;
}

.calendar-dates .today {
    background: #ff6600;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
}


.discover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%
}

.sidebar {
    width: 100%;
    align-items: start; 
}
.sidebar h1 {
    text-align:center;
}

.discover-main {
    grid-column: 1/3;
}

.discover-main img {
    max-width: 100%;
    padding: 10px;
    opacity: 1;
    transition: .5s ease;
}

.container {
    display: block;
    position: relative;
}

.main-content {
    display: grid ;
    gap: 20px; 
}
.content {
    flex:1;
}

.visit {
    padding: 10px;
}

#description {
    margin-top: 10px;
}

#thanks {
    color: white;
    text-align: center;
    border: 2px solid white;
}

#weather-info h4 {
    color:var(--text-color);
    font-weight:400;
}

.forecast {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .forecast li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  .forecast li img {
    width: 50px;
    height: 50px;
  }
  .forecast li h3 {
    margin: 0;
    font-size: 1.2em;
  }
  .forecast li p {
    margin: 0;
  }

.discover {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.img {
    position: relative;
    width: 100%; 
    overflow: hidden;
    border-radius: 10px;
    /*max-width: 90%;*/
}

.img img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.img:hover img {
    transform: scale(1.1); 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1rem; 
    text-align: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.img:hover .overlay {
    opacity: 1; 
}

.grid {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    grid-template-columns: 300px 500px;
    text-align: center;
}

section {
  margin-top: 15px;
}

/*Directory Page*/

#directory.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

#directory.list {
    display: block;
}

/* Card styling for list view */
#directory.list .card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

/* Card styling for grid view */
#directory.grid .card {
    display: block;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ccc;
}
#directory.grid .card img {
    margin-top:10px;
}


.list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.list-table th, .list-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.list-table th {
    background-color: #f4f4f4;
}

/* Hide logo in list view */
#directory.list .card img {
    display: none;
}

footer {
    background-color: #5c5656;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin-top: 20px;
}
  
footer p {
    margin:0;
    font-size: 0.875rem;
}

.copyright p {
    margin-top: 30px;
    margin-bottom: 20px;
}
  
footer #lastM {
    color: #ffff;
}

/*Form Styling*/

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px;
}
.join-container {
    max-width: 400px;
    padding:10px;
}
.form-container, .benefits-container {
    flex: 1;
    min-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.form-container {
    max-width: 600px;
}
label, legend {
    display: block;
    margin: 10px 5px;
    font-weight: bold;
    color: #000;
}
.join-form {
    margin-top: 10px;
}
input, textarea, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.benefits-container {
    background-color: var(--primary-color);
    box-shadow: 0 5px 8px 1px #000000;
}
.membership-level {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 8px 1px #000000;
}
.membership-level h3 {
    margin: 0;
    color: var(--secondary-color);
}
.membership-level p {
    margin: 5px 0;
    color:var(--secondary-color);
}

.view {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #fff;
	text-align: center;
}

.view button {
	padding: 1rem;
	font-weight: 700;
    background-color: var(--primary-color);
    color: #fff;
}


#join-main {
    width: 100%;
    display: block;
    display:grid;
    grid-template-columns: 1fr;
}

#join-main h1 {
    text-align: center;
    font-size:larger;
}



.fieldset {
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.join-main fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: .5rem 2%;
}

.join-main label {
    display: block;
    padding-top: 1rem;
    color: #020020;
    font-size: .9rem;
}


#join-main input[type="text"],
#join-main input[type="email"],
#join-main select,
#join-main input[type="tel"],
#join-main input[type="password"] {
    display: block;
    border-radius: 5px;
    padding: .8rem;
    color: #060606;
    width: 95%;
    max-width: 400px;
    appearance: none;
    border: 1px solid #999;
}

.form1 input:required {
    border: 1px solid var(--primary-color);
    background-color: rgba(169, 219, 240, 0.35);
}

.form1 input:required:valid {
    border: 1px solid #999;
    background-color: #72b8f6;
}

#formmessage {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-top: 15px;
}

#btnSubmit {
    margin-top: 5%;
}

#rangevalue {
    color: var(--text-color);
    margin-top: 2%;

}

#r {
    margin-top: 10px;
    width: 100%;
}
:root {
	--back: var(--primary-color);
    --back2: #fff;
    --foredark: #432818;
	--forelight: #432818;
	--border: #000;
	--borderlight: #bb9457;
	--shadow: #bb9457;
	--zebra: #fefae0;
}



table {
    max-width:fit-content;
	margin: 10px auto;
	border: thin solid #000;
	box-shadow: 0 5px 8px 1px #000;
	border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: #432818;
    font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--back);
	/*color: var(--forelight);*/
    color:#fff;
    font-size:larger;
}

th, td {
	padding: 7px 5px;
	border: 1px solid #432818;
}

th {
	background-color: #bb9457;
	font-size: medium;
}

td {
	text-align: center;
    font-size:small;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}