

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    /*font-optical-sizing: auto;*/
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
html, body {
    height:100%;
    margin: auto;
    padding: 0px;
    border: 0px;
  }

header {
    margin:auto;
    background-color: #5c5656;
    color: #ffe6a7;
  }
header h1 {
    padding-top:15px;
    padding-left:15px;
    margin:auto;
    font-family:"Open Sans", sans-serif; 
  }
  /* TOP Navigation */
  
nav {
    background-color:#6f1d1b;
  }
  
  /* small view navigation */
#menu {
    font-size: 2rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 2rem;
    right: 0;
}
  
#menu::before {
    content: "☰";
}
  
.navigation {
    list-style:none;
    margin:0 auto;
    max-width:900px;
    background-color:#6f1d1b;
    color: #ffe6a7;
}
.navigation li {
    display:none;
}
  
.navigation a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: #ffe6a7;
    transition:0.5s;
}
.navigation a:hover {
    background-color: #99582a;
    color: #ffe6a7;
    font-weight: 700;
}
  
.show li {
    display: block;
}
#menu.open::before {
    content: "✖️";
}

/*this is the dark mode switch*/
/* The switch - the box around the slider */
#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
  }
  
  /* Hide default HTML checkbox */
  #switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6f1d1b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6f1d1b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





.hero-image {
    position:relative;
    height: 40vh;
    background-image: url('/chamber/images/hurricane-utah.jpg');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8vh;
}
  
  /* Main content of website */
  
main {
    max-width:720px;
    margin-left: auto;
    margin-right: auto;
    font-family:"Raleway", sans-serif; 
    background-color:#fff;
    color:#000;
}
main h2 {
    font-family:"Open Sans", sans-serif; 
    text-align: center;
}

.grid-container {
    display: grid;
    margin: 10px;
    grid-template-columns: auto;
    grid-gap:10px;
    justify-content: center;
}
.business-container {
    display: grid;
    margin: 10px;
    grid-template-columns: auto;
    grid-gap:10px;
    justify-content: center;
}

  
.card {
    box-shadow: 0 5px 8px 1px #000000;
    margin-bottom: 15px;
    margin-top:10px;
    border-radius:5px;
    padding:2px;
    text-align:center;
}
  
.card h2 {
    text-align: center;
    color: #000;
    background-color: #c9cba3;
    padding: 10px;
    margin:auto;
    border-radius:5px 5px 0px 0px;
    font-family:"Open Sans", sans-serif; 
}
.card h3 {
    text-align: center;
    color: #000;
    background-color: #c9cba3;
    padding: 10px;
    margin:auto;
    border-radius:5px 5px 0px 0px;
    font-family:"Open Sans", sans-serif; 
}
.card ul {
    list-style-type: none;
}
.card ul li {
    margin:10px;
}
  
.card p {
    text-align: center;
}
.card ul li a {
    color: #000000;
}

.openSans {
    font-family:"Open Sans", sans-serif; 
}
.raleway {
    font-family:"Raleway", sans-serif; 
}

h3 {
    text-align: center;
}

.weatherWidget {
    margin-left: 1px;
    margin-right: 1px;

  }

footer {
    background-color: #5c5656;
    text-align: center;
    color: #fff;
    padding: 5px;
}
  
footer p {
    padding: 5px;
}

.copyright p {
    margin-top: 30px;
    margin-bottom: 20px;
}
  
footer #lastM {
    color: #ffff;
}
    
  
@media (min-width:900px) {
    
    #menu {
        display:none;
    }
    
    .navigation {
        display:flex;
        flex-direction: row;
        background-color: #6f1d1b;
        font-size: 25px;
    }
  
    .navigation li {
        display: block;
        flex: 1 1 100%;
        color:#000000;
    }
    .navigation a {
        text-align:center;
    }
      
    .grid-container {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .business-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .business-container h2 {
        grid-column:span 3;

    }
    
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }

    footer p {
        font-size: 18px;
        margin: 2px;
    }
    .card:nth-child(1) {
        grid-column: span 2; 
    }
    
    .hero-image img {
        position:relative;
        width:100%;
        max-height:400px;
        overflow: hidden;
    }
    .hero-text {
        text-align: center;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3vh;
    }

    .hero-text p {
        font-size: 18px;
    }
  }