

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .handlee-regular {
      font-family: "Handlee", cursive;
      font-weight: 400;
      font-style: normal;
  }
  
  html, body {
      margin: auto;
      padding: 0px;
      border: 0px;
  }
  
  .hGrid {
      background-color: #095d6e;
      display: grid;
      grid-template-columns: auto auto;
      color: #ffffff;
      justify-content: center;
      align-items:center;
      font-family: handlee, sans-serif;
  }
  .hGrid img {
      padding: 15px;
      width: 90px;
  }
  
  /* TOP Navigation */
  
  nav {
      background-color:#E9d985;
  }
  
  /* small view navigation */
  #menu {
      font-size: 1.5rem;
      border: 0;
      background: none;
      color: #000;
       position: absolute;
      top: 1rem;
      right: 1rem;
  }
  
  #menu::before {
      content: "☰";
  }
  
  .navigation {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style:italic;
      list-style:none;
      margin:0 auto;
      max-width:760px;
      background-color:#E9d985;
  }
  .navigation li {
      display:none;
  }
  
  .navigation a {
      display: block;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #000;
      transition:0.5s;
  }
  .navigation a:hover {
      background-color: #095d6e;
      color: #ffffff;
      font-weight: 700;
  }
  
  .show li {
      display: block;
  }
  #menu.open::before {
      content: "✖️";
  }
  
  
  /* Main content of website */
  
  main {
      max-width:960px;
      margin-left: auto;
      margin-right: auto;
  }

  .hero {
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
  }

  .hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}
 h2 {
    text-align: center;
 }

  
  .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap:10px;
      justify-content: center;
  }
  
  .card {
      box-shadow: 0 5px 8px 1px #000000;
      margin-bottom: 15px;
      margin-top:10px;
      border-radius:5px;
  }
  
  .card h3 {
      text-align: center;
      color: #000000;
      background-color: #439A86;
      padding: 10px;
      margin:auto;
      border-radius:5px 5px 0px 0px;
  }
  .card ul {
      list-style-type: none;
  }
  .card ul li {
      margin:10px;
  }
  
  .card p {
      text-align: center;
  }
  .card ul li a {
      color: #000000;
  }
/*CSS for the # of visits*/
.label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

.visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}
  
  footer {
      background-color: #095D6E;
      text-align: center;
      color:#ffffff;
      padding: 5px;
      margin-top: 5px;
  }
  
  footer p {
      padding: 5px;
  }
  
  footer #lastM {
      color: #ffffff;
  }
    
  
  @media (min-width:760px) {
      #menu {
          display:none;
      }
      .navigation {
          display:flex;
          flex-direction: row;
          background-color: #E9d985;
  
      }
  
      .navigation li {
          display: block;
          flex: 1 1 100%;
          color:#000000;
      }
      .navigation a {
          text-align:center;
      }
      
      .grid-container {
          display:grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      .left {
          grid-column:1/4;
      }
      .right {
          grid-column:4/6;
      }
      
  }

/*CSS for the # of visits
  .label {
	font-family: Arial, sans-serif;
	font-weight: 700;
}

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

  
  */