:root {
    -border: #ddd;
    -mainblue: #0d2149;
    -lighterblue: #7a89c2;
}

/*Form Styling*/

#hGrid {
    padding: 15px;
    width: 90px;
}
.form-main {
    width: 100%;
    display: block;
}

.form-main h1 {
    text-align: cener;
}

.formWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form1 {
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}

.form1 fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 6px;
    padding: .5rem 2%;
}

.form1 label {
    display: block;
    padding-top: 1rem;
    color: #020020;
    font-size: .9rem;
}

.form1 div {
    padding-top: 1rem;
    color: blakc;
    font-size: .9rem;
    text-align: center;
}

.form1 input[type="text"],
.form1 input[type="email"],
.form1 select,
.form1 input[type="number"],
.form1 input[type="password"] {
    display: block;
    border-radius: 5px;
    padding: .8rem;
    color: rgb(6, 6, 6);
    width: 95%;
    max-width: 400px;
    appearance: none;
}

.form1 input:required {
    border: 1px solid #6f200e;
    background-color: #a9dbf059;
}

.form1 input:required:valid {
    border: 1px solid #999;
    background-color: #72b8f6;
}

#formmessage {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-top: 15px;
}

#btnSubmit {
    margin-top: 5%;
}

#rangevalue {
    color: var(--text-color a);
    margin-top: 2%;

}

#r {
    margin-top: 10px;
    width: 100%
}